@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Inter", sans-serif;
}

.container {
  width: 760px;
  height: 760px;
  display: flex;
  background: url("./assets/ellipse.svg") no-repeat;
  background-position: -20px 44%;
}

.launch,
.project-work,
.closure,
.after-project {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: -1;
  padding-bottom: 74px;
}
.launch__title,
.project-work__title,
.closure__title,
.after-project__title {
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #36404A;
}

.launch {
  width: 25.5%;
  border-right: 1px dashed #3693FF;
}

.project-work {
  width: 53.5%;
  border-right: 1px dashed #3693FF;
}

.after-project {
  padding-bottom: 58px;
}

.closure {
  width: 14%;
  border-right: 1px dashed #3693FF;
}

.period {
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: #A2AAB5;
}
.period__daily {
  position: absolute;
  left: 375px;
  top: 333px;
}
.period__weekly {
  position: absolute;
  left: 446px;
  top: 254px;
}
.period__sprint {
  position: absolute;
  left: 278px;
  top: 313px;
}
.period__monthly {
  position: absolute;
  left: 545px;
  top: 362px;
}
.period__quarterly {
  position: absolute;
  left: 315px;
  top: 519px;
}

.circle {
  position: absolute;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  font-weight: 500;
  font-size: 7px;
  line-height: 10px;
  text-align: center;
  color: #36404A;
  cursor: pointer;
  transition: transform 0.25s;
}
.circle:hover {
  transform: scale(1.2);
}
.circle-blue {
  background-color: #A0D0FF;
  box-shadow: 0px 4px 12px rgba(103, 148, 255, 0.3);
}
.circle-blue-A01 {
  left: 12px;
  top: 432px;
}
.circle-blue-A02 {
  left: 25px;
  top: 560px;
}
.circle-blue-A03 {
  left: 50px;
  top: 452px;
}
.circle-blue-A05 {
  left: 90px;
  top: 433px;
}
.circle-blue-A06 {
  left: 98px;
  top: 559px;
}
.circle-blue-A07 {
  left: 134px;
  top: 441px;
}
.circle-blue-A08 {
  left: 127px;
  top: 531px;
}
.circle-blue-C01 {
  left: 251px;
  top: 493px;
}
.circle-blue-D01 {
  left: 400px;
  top: 493px;
}
.circle-blue-D02 {
  left: 437px;
  top: 487px;
}
.circle-blue-D03 {
  left: 471px;
  top: 478px;
}
.circle-blue-D04 {
  left: 502px;
  top: 463px;
}
.circle-blue-D05 {
  left: 530px;
  top: 441px;
}
.circle-blue-D06 {
  left: 550px;
  top: 411px;
}
.circle-blue-D07 {
  left: 567px;
  top: 379px;
}
.circle-blue-F01 {
  left: 459px;
  top: 372px;
}
.circle-blue-F02 {
  left: 482px;
  top: 345px;
}
.circle-blue-F03 {
  left: 495px;
  top: 315px;
}
.circle-blue-F04 {
  left: 494px;
  top: 282px;
}
.circle-blue-G01 {
  left: 358px;
  top: 366px;
}
.circle-blue-G02 {
  left: 333px;
  top: 342px;
}
.circle-blue-G03 {
  left: 333px;
  top: 308px;
}
.circle-blue-G04 {
  left: 348px;
  top: 278px;
}
.circle-blue-G05 {
  left: 375px;
  top: 260px;
}
.circle-blue-G06 {
  left: 407px;
  top: 261px;
}
.circle-blue-G07 {
  left: 433px;
  top: 280px;
}
.circle-blue-I01 {
  left: 605px;
  top: 507px;
}
.circle-blue-I02 {
  left: 629px;
  top: 432px;
}
.circle-blue-I03 {
  left: 643px;
  top: 550px;
}
.circle-blue-I04 {
  left: 674px;
  top: 432px;
}
.circle-blue-I05 {
  left: 679px;
  top: 539px;
}
.circle-purple {
  background-color: #BA85FD;
  box-shadow: 0px 4px 12px rgba(181, 123, 255, 0.3);
}
.circle-purple-A04 {
  left: 62px;
  top: 540px;
}
.circle-purple-B01 {
  left: 224px;
  top: 207px;
}
.circle-purple-B02 {
  left: 250px;
  top: 179px;
}
.circle-purple-B03 {
  left: 283px;
  top: 156px;
}
.circle-purple-C02 {
  left: 281px;
  top: 518px;
}
.circle-purple-E01 {
  left: 243px;
  top: 345px;
}
.circle-purple-E02 {
  left: 241px;
  top: 308px;
}
.circle-purple-E03 {
  left: 253px;
  top: 272px;
}
.circle-purple-E04 {
  left: 270px;
  top: 240px;
}
.circle-purple-E05 {
  left: 297px;
  top: 218px;
}
.circle-purple-F05 {
  left: 480px;
  top: 252px;
}
.circle-purple-G08 {
  left: 446px;
  top: 310px;
}
.circle-purple-H01 {
  left: 543px;
  top: 208px;
}
.circle-purple-J01 {
  left: 724px;
  top: 452px;
}
.circle-yellow {
  background-color: #FFF177;
  box-shadow: 0px 4px 12px rgba(255, 241, 119, 0.3);
}

.modal-big {
  position: absolute;
  z-index: 10;
  width: 760px;
  height: 760px;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
  padding: 40px;
  padding-top: 80px;
  background: #fff;
  box-shadow: 0px 4px 12px rgba(230, 235, 240, 0.4);
  color: #36404A;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}
.modal-big__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.modal-big__discription {
  margin-bottom: 24px;
}
.modal-big__btn-close {
  position: absolute;
  top: 46.75px;
  right: 46.75px;
  width: 24px;
  height: 24px;
  z-index: 99;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.modal-big__btn-close::before, .modal-big__btn-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 1.5px;
  background: rgb(0, 0, 0);
}
.modal-big__btn-close::before {
  transform: rotate(45deg);
}
.modal-big__btn-close::after {
  transform: rotate(-45deg);
}
.modal-big--show {
  opacity: 1;
  visibility: visible;
}

.tippy-box {
  background: #36404A;
}

.thread {
  position: absolute;
  width: 1px;
  height: 40px;
  background: #F5F5F5;
}
.thread-A01 {
  left: 26px;
  top: 460px;
}
.thread-A02 {
  left: 39px;
  top: 516px;
}
.thread-A03 {
  left: 64px;
  top: 480px;
  height: 20px;
}
.thread-A04 {
  left: 76px;
  top: 516px;
}
.thread-A05 {
  left: 104px;
  top: 460px;
}
.thread-A06 {
  left: 112px;
  top: 515px;
}
.thread-A07 {
  left: 148px;
  top: 469px;
  height: 16px;
}
.thread-A08 {
  left: 141px;
  top: 507px;
}
.thread-I01 {
  left: 619px;
  top: 472px;
}
.thread-I02 {
  left: 642px;
  top: 460px;
  height: 28px;
}
.thread-I03 {
  left: 657px;
  top: 512px;
}
.thread-I04 {
  left: 687px;
  top: 460px;
}
.thread-I05 {
  left: 692px;
  top: 515px;
}
.thread-J01 {
  left: 737px;
  top: 480px;
  height: 20px;
}

ul,
p {
  margin: 12px 0 0 0;
  font-size: 1em;
  line-height: 1.714;
  font-weight: normal;
}

ul {
  padding-left: 24px;
}/*# sourceMappingURL=style.css.map */